@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #fcc52a;
  padding: 50px;
  text-transform: uppercase;
}

h1 {
  font-size: 3.052rem
}

.joke-container {
  height: 77vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background-color: #fcc52a;
  color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  font-size: 1.25rem;
  float: right;
}

button:hover {
  background-color: #fcc52a;
  outline: 2px solid #fcc52a;
  outline-offset: 2px;
  color: #ffffff;
}

button:active {
  color: #000000;
  background-color: #dfb02a;
}

.joke-box {
  width: 500px;
  height: auto;
}

.joke-prompt {
  display: flex;
  font-size: 1.563rem;
  border: solid 5px #2a9ab5;
  border-radius: 15px;
  padding: 20px;
  padding-bottom: 0;
  background-color: #dfeeff;
  margin-bottom: 10px;
}

footer {
  color: #ffffff;
  text-align: center;
  padding: 50px 0;
  background-color: #303030;
}